<div class="ps1-logo">
    <%= image_tag("logo.png", :class => 'logo')%>
    <h1> CHECKOUT THESE <u>HOT</u> NEW RELEASES! </h1>
    <hr />
</div>

<main class="grid">
    <div class="">
        <%= image_tag("metal-gear-solid.jpeg", :class => 'game-covers')%>
        <p>Metal Gear Solid</p>
    </div>
    <div class="">
        <%= image_tag("final-fantasy-vii.jpeg", :class => 'game-covers')%>
        <p>Final Fantasy VII</p>
    </div>
    <div class="">
        <%= image_tag("resident-evil-2.jpeg", :class => 'game-covers')%>
        <p>Resident-Evil 2</p>
    </div>
    <div class="">
        <%= image_tag("spyro-the-dragon.jpeg", :class => 'game-covers')%>
        <p>Spyro the Dragon</p>
    </div>
    <div class="">
        <%= image_tag("crash-bandicoot-warped.jpeg", :class => 'game-covers')%>
        <p>Crash Bandicoot: Warped</p>
    </div>
    <div class="">
        <%= image_tag("medievil.jpeg", :class => 'game-covers')%>
        <p>Medievil</p>
    </div>
    <div class="">
        <%= image_tag("street-fighter.jpeg", :class => 'game-covers')%>
        <p>Street Fighter</p>
    </div>
    <div class="">
        <%= image_tag("tomb-raider.jpeg", :class => 'game-covers')%>
        <p>Tomb Raider</p>
    </div>
    <div class="">
        <%= image_tag("cool-boarders.jpeg", :class => 'game-covers')%>
        <p>Cool Boarders</p>
    </div>
    <div class="">
        <%= image_tag("madden.jpeg", :class => 'game-covers')%>
        <p>Madden 99</p>
    </div>
    <div class="">
        <%= image_tag("wwf-warzone.jpg", :class => 'game-covers')%>
        <p>WWF Warzone</p>
    </div>
    <div class="">
        <%= image_tag("heart-of-darkness", :class => 'game-covers')%>
        <p>Heart of Darkness</p>
    </div>
    <br />
</main>

<div class="clear">

    <div>
        <h1>"QUIZ #1: THE GREATEST GAMES - A STATIC RAILS WEB APP"</h1>
        <br />
        <p>Hope you enjoyed this <b><u>totally wild throwback</u></b> to the late 90's!</p>
        <p class="list">The goal of this project was the following:</p>
        <ul>
            <li>build a ruby on rails application</li>
            <li>with static content</li>
            <li>hosted on heroku/github</li>
        </ul>
        <p class="list">My personal goals were:</p>
        <ol>
            <li>build something creative</li>
            <li>work on my biggest weakness: img grids</li>
            <li>do something I can proudly add to my portfolio</li>
        </ol>
    </div>