<!DOCTYPE html>
<html>

<head>
    <title>TheGreatestGames</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
        <div class="header">
            THE GREATEST GAMES!
        </div>
    </header>

    <%= yield %>
</body>

</html>